@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/images/bg-body.png');
  background-size: cover;
  background-position: top center;
  background-repeat: repeat;
}